body {
    font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

button {
    background-color: #4CB249;
    border: 0;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    border-radius: 0.375rem;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}



button:active {
    background-color: #4CB249;
    transform: scale(0.97);
    border-color: #4CB249;
    outline: none;
}

button:hover {
    background-color: #56C753;
}

button:focus {
    outline: none;
}

.navigation a {
    color: black;
    font-weight: 600;
}

.navigation span {
    font-size: 1rem;
    font-weight: 500;
}

a:hover {
    color: black;
}

#outlined-button {
    max-width: 11.25rem;
    align-self: center;
    margin-top: 0%;
    background-color: white;
    border: 1px solid #4CB249;
    color: #4CB249;
    font-size: 1rem;
}

#outlined-button:hover {
    background-color: #F5F5F5;
}

.title {
    max-width: 31.25em;
    font-size: 2.8rem;
    font-weight: 600;
}

.card-section {
    display: flex;
    justify-content: space-between;
}

.nav-elements {
    width: 40%;
    margin: auto;
    display: flex;
    gap: 1em;
}

.logo-slot {
    padding-right: 1em;
    border-right: 0.5px solid #ECECEC;
}

.navigation {
    align-self: center;
    display: flex;
    gap: 1.5em;
}

.footer {
    padding-bottom: 4em;
    padding-top: 4em;
}

#footer-elements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.5em;
}


.footer h2 {
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 1.5em;
}

@media (max-width:31.25em) {
    .title {
        font-size: 1.5rem;
    }

    #header-p {
        font-size: 1rem;
    }

    .card-info h1 {
        padding-top: 2em;

    }

    .nav-elements {
        justify-content: center;
    }

    button {
        display: grid;
        width: 96%;
    }

    .navigation {
        display: none;
        justify-content: center;
    }

    .logo-slot {
        border: 0;
    }

    #header {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    #hero {
        display: none;
    }


    .logo-img {
        height: 2.5rem;
    }

    #clients h1 {
        font-size: 1.5rem;
    }

    .card-section {
        display: grid;
        gap: 1.5rem;
    }

    .card {
        max-width: 30.625em;
    }

    #footer-elements {
        display: grid;
        gap: 2.5em;
        justify-content: center;
    }

    .card h2 {
        font-size: 1.6rem;
    }

    button {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .Contact {
        align-self: baseline;
    }

    .social-media {
        align-self: baseline;
    }

    .footer h2 {
        padding-bottom: 1em;
        margin-bottom: 0;
    }

    .card p {
        margin-bottom: 1.5rem;
    }

}

.header-p {
    max-width: 28em;
    font-size: 1.125rem;
    font-weight: 150;
    padding-top: 0.25rem;
    margin-bottom: 3rem;
}


.card-info .header-p {
    margin-bottom: 0;
}


@media (max-width:93.75em) {
    .banner-img {
        max-width: 25rem;
    }
}

.nav-bar {
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 1000;
}


.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5em;
}


.logo {
    max-width: 9.375em;
}


.section {
    display: flex;
    height: auto;
    justify-content: center;
}


section h1 {
    max-width: 31.25em;
}

.sub-section h1 {
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 2rem;
}

.section {
    height: auto;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 4em;
    padding-top: 4em;
}

.sub-section {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.sub-section-header {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.info-img {
    max-width: 19.375em;
    max-height: 13.625em;
    margin-right: 8.75em;
}

.info-img2 {
    max-width: 19.375em;
    max-height: 13.625em;
    margin-left: 6rem;
}


@media (max-width:137.5rem) {
    .nav-elements {
        width: 50%;
    }

    .sub-section-header {
        width: 50%;
    }

    .sub-section {
        width: 50%;
    }
}

@media (max-width:75em) {
    .sub-section-header {
        width: 70%;
    }

    .sub-section {
        width: 70%;
    }

    .card {
        max-width: 25em;
    }

    .nav-elements {
        width: 70%;
    }
}

@media (max-width:64em) {
    .sub-section-header {
        width: 80%;
    }

    .sub-section {
        width: 80%;
    }

    .card {
        max-width: 23.75em;
    }

    .nav-elements {
        width: 80%;
    }
}

@media (max-width:48em) {
    .row {
        grid-template-columns: none;
    }

    .nav-elements {
        width: 90%;
    }

    .sub-section-header {
        width: 90%;
    }

    .sub-section {
        width: 90%;
    }

    .logo-img {
        height: 3.125rem;
    }

    .logo-img {
        height: 3.125rem;
    }

    .card {
        max-width: 20.625em;
    }

    .card h2 {
        font-size: 1.7rem;
    }

    .sub-section-banner {
        align-self: center;

    }

    .info-img {
        margin-right: 0;
        padding-bottom: 2rem;
    }

    .info-img2 {
        margin-left: 0;
        padding-bottom: 2rem;
    }

    .info-banner {
        display: flex;
        flex-direction: column;

    }

    #banner-2 {
        flex-direction: column-reverse;

    }

    .button-container {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }


}

@media (max-width:93.688em) {
    .title {
        font-size: 2rem;
        font-weight: 600;
    }

}


#clients {
    background-color: #CEEFFF;
    border-bottom: 0;
}

#clients h1 {
    font-size: 1.75rem;
    padding-bottom: 2em;
    color: #0094D9;
    font-weight: 600;
}


.logos {
    display: flex;
    justify-content: space-between;
}

.card-button {
    align-self: center;
}


.card {
    max-width: 30.625em;
    border: 1px solid #ECECEC;
    padding: 2em;
}


#card-1 {
    border-top: 6px solid #0094D9
}


#card-2 {
    border-top: 6px solid #ED1C24
}

.card-info h1 {
    padding-bottom: 0;
}

.card p {
    font-size: 1rem;
    color: #ABABAB;
}

.card-img {
    align-self: center;
    max-width: 11.625130em;
    max-height: 8.125rem;
    margin-top: 2em;
    margin-bottom: 2em;
}


h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1em;
    margin-bottom: 0;
}


.card-banner {
    display: grid;
    gap: 2.5rem;
}


#faq {
    background-color: #F5F8FF;
}


.legal {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
}


.social-icons {
    display: flex;
    gap: 1em;
}

.about-us-elements {
    display: grid;
    gap: 1em;
}

.social {
    max-width: 1.5em;
    max-height: 1.5rem;
}


.form-control {
    height: 3rem;
    border-radius: 0.375rem;
    border-color: #B0B0B0;
}

form {
    display: grid;
    gap: 2.5em;
}

.button-container {
    display: flex;
    justify-content: center;
}

.form-container {
    display: grid;
    gap: 1.5em;
}


#benefits {
    border-bottom: 0;
}

#header {
    border-bottom: 0;
}



#faq {
    border-bottom: 0;
}

.info-banner h1 {
    font-size: 1.5rem;
    font-weight: 600;
}


.info-banner {
    display: inline-flex;
    padding: 2.5em;
    border: 0.5px solid #ECECEC;
    flex-grow: 1;
}


.form-control:hover {
    border-color: #49454F;
}

.text:active {
    border-color: #97338A;
}

.form-control:focus {
    box-shadow: none;
    border-color: #49454F;
    border-width: 2px;
    outline: 0;
}


.logo-img {
    max-width: 6.375em;
    max-height: 5.625rem;
}


.navbar-expand-lg-bg-body-tertiary {
    margin-left: 760px;
    margin-right: 760px;
}


.accordeon .contentBx {
    position: relative;
    margin: 0.625em;
    margin-left: 0;
    margin-right: 0;
}

.contentBx .label {
    font-size: 1.5rem;
}

.accordeon .contentBx .label {
    position: relative;
    padding: 10px;
    border-top: 1px solid #B0B0B0;
    cursor: pointer;
}

.accordeon .contentBx .label::before {
    content: '+';
    color: #0094D9;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.accordeon .contentBx.active .label::before {
    content: '-';
}

.accordeon .contentBx .content {
    position: relative;
    height: 0;
    overflow: hidden;
    /* transition: 0.5s; */
    overflow-y: auto;
}

.accordeon .contentBx.active .content {
    height: 100px;
    padding: 10px;
}